


.center {
    text-align: center;
    position: relative;
}

.buttons .btn {
    float:right;

    margin-left: 10px;
}

hr {
    margin-top: 100px;
}

h1.page-header {
    display: inline-block;
}


